<div class="row">
    <div class="col-xs-12">
        <h3>OCTOCMM</h3>
        <button class="btn btn-primary" data-bind="click: Run_CMM_Probing_JS">{{ _('Start Probing') }}</button>
        <button class="btn btn-primary" data-bind="click: Probe_Position_JS">{{ _('Probe Position') }}</button>
        <button class="btn btn-primary" data-bind="click: update_vars">{{ _('Update Vars') }}</button>
        <p>Check console for backend data, sorry not a web developer</p>
    </div>
</div>