<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('probing_mode') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCMM.probing_mode">
        </div>
        <p>Probing mode will check if its one of the preset options. If it isnt, it will look for an OctoCMM_variable.csv file where variable is the content of this setting</p>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('output_file_name') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCMM.output_file_name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('noWrite') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCMM.noWrite">
        </div>
        <p>True or False, True means that nothing will be written to the disk, for testing reasons</p>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('maxPartHeight') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCMM.maxPartHeight">
        </div>
        <p>the height of the highest level of the part to measure,in mm, probe will stay above this unless probing to prevent crashing into things</p>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('partHeightBuffer') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoCMM.partHeightBuffer">
        </div>
        <p>millimeters probe will sit above the max part height</p>
    </div>
</form>