<div class="row">
    <div class="col-xs-12">
        <h3>OCTOCMM</h3>
        <button class="btn btn-primary" data-bind="click: Run_CMM_Probing_JS">{{ _('Start Probing') }}</button>
        <button class="btn btn-primary" data-bind="click: update_vars">{{ _('Update Vars') }}</button>
        <p id="center"><span data-bind="text: cmm_state"></span></p>
        <h3>Tutorial</h3>
        <p>The following steps should lead to a relatively painless experience with the plugin</p>
        <h4>First Time Setup</h4>
        <ol>
            <li>Turn on your printer, start up octoprint server and plug it into the serial port on your printer</li>
            <li>Home your printer using the lcd controls</li>
            <li>turn off busy protocol support in octoprint (settings-> protocol and firmware -> first section -> advanced -> uncheck busy protocol). This might not be required but is what was used during testing.</li>
            <li>Double check the octocmm settings so that the probing mode is set to default, you can verify using the update vars button. press the start probing button</li>
            <li>This will cause the printer to test the 4 default probing points and create the octocmm output file.</li>
            <li>close the system, and check your octoprint directory for a generated OctoCMM folder. Open it and delete the output file unless you want it to append to that file</li>
        </ol>
        <h4>Regular Usage</h4>
        <ol>
            <li>Now that you have created the OctoCMM folder, create a file in there called OctoCMM_variable.csv and name it whatever you want</li>
            <li>for each point you want the printer to probe, enter the x coordinate value, then a comma, then the y coordinate value. Each point should be on a new line.</li>
            <li>Now boot the printer, boot octoprint with the plugin and plug in the serial. Home the printer and move the printer up with octoprint so that the part can be inserted onto the print bed.</li>
            <li>Check your settings. The most important is the probing mode. Should be the variable name you chose for the file in OctoCMM folder. Fill out the rest of the settings as necessary. Pressing "update vars" will allow you to see the current state of the machine.</li>
            <li>Now, with octoprint set up, the file in the OctoCMM folder, the printer booted and homed, and the part inserted securely, you can press "Start Probing" to begin the probing procedure.</li>
            <li>A file will be generated with the specified output name and the values of the probed points. They can be analyzed however needed</li>
        </ol>
    </div>
</div>