<div class="row">
    <div class="col-xs-12">
        <h3>Example Text Fields</h3>
        <div class="form-group">
            <label for="exampleTextField1">Example Text Field 1:</label>
            <input type="text" class="form-control" id="exampleTextField1" data-bind="textInput: exampleTextField1">
            <p data-bind="text: exampleTextField1Data"></p>
        </div>
        <div class="form-group">
            <label for="exampleTextField2">Example Text Field 2:</label>
            <input type="text" class="form-control" id="exampleTextField2" data-bind="textInput: exampleTextField2">
            <p data-bind="text: exampleTextField2Data"></p>
        </div>
        <button class="btn btn-primary" data-bind="click: exampleButton1">Example Button 1</button>
        <button class="btn btn-primary" data-bind="click: exampleButton2">Example Button 2</button>
    </div>
</div>